<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook Automation">
  <test name="LandingPageTest">
    <classes>      
      <class name="com.facebook.testcases.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="HomePageTest">
    <classes>      
      <class name="com.facebook.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
